In [3]:
import numpy as np
import pandas as pd

# 1. num of lines

In [23]:
!wc /Users/nephidei/Downloads/bookings.csv

 10000011 279827136 4244874509 /Users/nephidei/Downloads/bookings.csv

In [24]:
!wc /Users/nephidei/Downloads/searches.csv

 20390198 20496592 3696229366 /Users/nephidei/Downloads/searches.csv

# 2. top airports

## 2.1. make small parts of data

In [8]:
import itertools

def slicefile(filename, start, end):
    lines = open(filename)
    return itertools.islice(lines, start, end)

In [10]:
#way1
num = 10000011
step = 100000
for i in range(0,num, step):
    print 'file '+str(i)+' started'
    out = open('tables/bookings_'+str(i)+'.csv', "w")
    for line in slicefile("/Users/nephidei/Downloads/bookinhs.csv", i+1, i+step):
        out.writelines(line.replace('^', ';').split('\n'))
    print 'file '+str(i)+' finished'

In [20]:
#way2
LINES_TO_FLUSH = 100000
with open("/Users/nephidei/Downloads/bookings.csv") as source_file:
    out_buf = []
    out_index = 1
    for i, line in enumerate(source_file):
        if i == 0:
            continue
        #print 'file '+str(i)+' started'
        out_buf.append(line.replace('^', ';'))
        if len(out_buf) == LINES_TO_FLUSH:
            with open('tables/bookings_'+str(out_index)+'.csv', "w") as part_file:
                part_file.writelines(out_buf)
            out_index += 1
            out_buf = []  
    print out_index

101

In [21]:
table_names = list(slicefile("/Users/nephidei/Downloads/bookings.csv", 0, 1))[0].rstrip().replace('^', ';')

In [22]:
ex = pd.read_csv('tables/bookings_1.csv', sep = ';')
ex.head()

,2013-03-05 00:00:00,1A,DE,a68dd7ae953c8acfb187a1af2dcbe123,1a11ae49fcbf545fd2afc1a24d88d2b7,ea65900e72d71f4626378e2ebd298267,2013-02-22 00:00:00,1708,0,ZRH,...,LHRZRH,VI,T,Y,2013-03-07 08:50:00,2013-03-07 11:33:37,-1,2013,3,NULL
0,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,...,SALATLCLT,NV,L,Y,2013-04-12 13:04:00,2013-04-12 22:05:40,1,2013,3,NULL
1,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,...,CLTATLSAL,NV,U,Y,2013-07-15 07:00:00,2013-07-15 11:34:51,1,2013,3,NULL
2,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,...,AKLHKGSVO,XK,G,Y,2013-04-24 23:59:00,2013-04-25 16:06:31,1,2013,3,SYDA82546
3,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,...,SVOHKGAKL,XK,G,Y,2013-05-14 20:15:00,2013-05-16 10:44:50,1,2013,3,SYDA82546
4,2013-03-20 00:00:00,1V,US,0283592e45e392871f7e14b1e22a9aaf,2d0f8e7e1bb792625d2f34f221bc38f1,d54708298686de200f8270e7c637af5e,2013-03-20 00:00:00,5923,0,DEN,...,DENLGA,FK,W,Y,2013-04-07 10:23:00,2013-04-07 16:14:24,1,2013,3,NULL